canvas {
  background-color: lightblue;
  margin: 0 auto;
  display: block;
}

h1 {
  text-align: center;
}

.maps {
  max-width: 1280px;
  background-color: rgb(224, 220, 220);
  margin: 20px auto;
  display: block;
}

.maps-item {
  margin: 20px auto;
  display: block;
  padding: 20px;
}

h2 {
  text-align: center;
  padding-top: 20px;
}

.film {
  max-width: 1280px;
  background-color: rgb(224, 191, 191);
  margin: 20px auto;
  display: block;
}

.film-item {
  margin: 20px auto;
  display: block;
  padding: 20px;
}

.stoper {
  max-width: 1280px;
  background-color: rgb(175, 214, 165);
  margin: 20px auto;
  display: block;
}

h4 {
  text-align: center;
}

#przyciski {
  text-align: center;
  padding: 20px;
}

.data {
  max-width: 1280px;
  background-color: rgb(165, 203, 214);
  margin: 20px auto;
  display: block;
}

.data-inputs {
  text-align: center;
}

#odliczD {
  margin: 20px;
}

.zegar {
  max-width: 1280px;
  background-color: rgb(240, 102, 178);
  margin: 20px auto;
  display: block;
}

#zegarWynik {
  padding-bottom: 20px;
}